@model game_journal.Models.View_Models.GameViewModel

@{
    ViewBag.Title = "Games";
}

<h2>Games</h2>

<form asp-action="Index" asp-controller="Games" asp-route-buttonValue=null>
    <label>Find by name: </label>
    <input name="searchString" type="text" />
    <input class="btn btn-success" type="submit" value="Search" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Release Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Games)
        {
            <tr>
                <td>
                    <a style="color:black;" asp-action="Details" asp-route-id="@item.GameId">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                @if (item.first_release_date == 0)
                {
                    <td></td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                }
                <td>
                    <a asp-action="Details" asp-route-id="@item.GameId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.ClickValue != 0 && ViewBag.ButtonValue == null)
{
    <a class="btn btn-primary"
       asp-controller="Games"
       asp-action="Index"
       asp-route-buttonValue="Previous"
       asp-route-clickValue=@ViewBag.ClickValue
       asp-route-searchString=@ViewBag.SearchString>Previous</a>
}

<a class="btn btn-primary"
   asp-controller="Games"
   asp-action="Index"
   asp-route-buttonValue="Next"
   asp-route-clickValue=@ViewBag.ClickValue
   asp-route-searchString=@ViewBag.SearchString>Next</a>